<launch>

    <!-- launch Lidar Node -->
  
<!--     <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate"     type="int"    value="115200"/>
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node> -->

     <node pkg="test_scripts" type="odom.py" name="odom_node" output="screen">
        <!-- <param name="odom_param" value="param_value" /> -->
     </node>

      <param name="robot_description" command="$(find xacro)/xacro.py '$(find my_rover_description)/urdf/my_rover.xacro'"/>
      <!-- send fake joint values -->
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
      
    </node>
      <!-- Combine joint values -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
      <!-- Show in Rviz   -->
      <node name="rviz" pkg="rviz" type="rviz" />

	<node pkg="gmapping" type="slam_gmapping" name="gmapping">
	    <param name="base_frame" value="link_chassis"/>
	    <param name="odom_frame" value="odom" />
	    <param name="delta" value="0.1" />

      <param name="map_frame" value="map"/>
      <param name="map_update_interval" value="1"/>
      <param name="maxUrange" value="4.0"/>
      <param name="maxRange" value="5.0"/>
<!--       <param name="sigma" value="0.05"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="5"/>
      <param name="lsigma" value="0.075"/>
      <param name="ogain" value="3.0"/>
      <param name="lskip" value="0"/>
      <param name="srr" value="0.01"/>
      <param name="srt" value="0.02"/>
      <param name="str" value="0.01"/>
      <param name="stt" value="0.02"/>
      <param name="linearUpdate" value="1"/>
      <param name="angularUpdate" value="1"/>
      <param name="temporalUpdate" value="1"/> -->
<!--       <param name="resampleThreshold" value="0.5"/>
      <param name="particles" value="1"/>

      <param name="xmin" value="-5.0"/>
      <param name="ymin" value="-5.0"/>
      <param name="xmax" value="5.0"/>
      <param name="ymax" value="5.0"/>
      <param name="delta" value="0.05"/>
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.01"/>
      <param name="lasamplerange" value="0.005"/> -->
      <!-- <param name="lasamplestep" value="0.005"/> -->

	</node>


</launch> 
